body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.grid {
  margin: 0 auto;
  min-height: 100vh;
  max-width: 600px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1 {
  text-align: center;
}

input {
  width: 100%;
  padding: 8px 24px;
  margin: 16px 0 8px;
}

form {
  text-align: center;
}

button {
  margin: 16px 0 8px;
  padding: 8px 24px;
  border-radius: 4px;
  background: #cba;
}